<!--The content below is only a placeholder and can be replaced.-->
<app-header 
  [headerText]="headerText"
></app-header>
<div class="main-page__container">
  
  <div class="main-page__nav-container">
    <div class="main-page__navigation">
      <app-navigation></app-navigation>
    </div>
    <div class="main-page__content-container">
      <app-daily-visitors></app-daily-visitors>
      <div class="main-page__cards-container">
        <app-stat-cards *ngFor="let card of statCards;"
          [header]="card.header"
          [count]="card.count"
          [changeRate]="card.changeRate"
        ></app-stat-cards>
      </div>
      <div class="main-page__stats-data-container">
        <app-most-visited-page
          [title]="'Most Visited Pages'"
          [headers]="mostViewedHeaders"
          [data]="mostViewedData"
          [showGraph]="true"
        ></app-most-visited-page>
        <app-most-visited-page
          [title]="'Social Media Traffic'"
          [headers]="socialHeaders"
          [data]="socialData"
          [showProgress]="true"
        ></app-most-visited-page>
      </div>
    </div>
    
</div>
  <!-- <div class="col-xs-2" style="height:100%">
    <app-navigation></app-navigation>
  </div> -->

</div>
<router-outlet></router-outlet>
