.main-page {
    &__container {
        height:100%;
    }

    &__nav-header-container{
        display: flex;
        flex-direction: row;
    }

    &__navigation {
        min-width: 260px;
    }

    &__nav-container {
        display: flex;
        flex-direction: row;
    }

    &__content-container {
        width: 100%;
        margin: 24px 24px 0px 24px;
        background-color: #fdfdfd;//fcf8f3
    }

    &__cards-container {
        display: flex;
        flex-direction: row;
        margin-top: 24px;
        justify-content: space-between;
        background-color: #fdfdfd;//fcf8f3
    }

    &__stats-data-container {
        background-color: #fdfdfd;//fcf8f3
        margin-top: 24px;
        display: flex;
        flex-direction: row;
    }
	
	&__card-holder {
        flex: 100%;
    }

    &__card-holder-margin {
        margin-left: 24px;
    }

    &__most-visited {
        width: 68%;
        margin-right: 24px;
    }

    &__most-visited-social {
        width: 32%
    }
}



.row {
    height: 100%;
}

p {
    margin:0px;
}