.daily-visitors {
    &__container {
        border: 1px #eaedf4 solid;//eaedf4
        box-shadow: 0px 0px 4px #eaedf4;
        border-radius: 4px;
        background-color: white;
        min-width: 100%;
    }

    &__header {
        height: 64px;
        margin-left: 28px;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        color: #3e3f43;
    }

    &__select-container {
        margin-left: auto;
        display:flex;
        margin-right: 24px;
    }

    &__select {
        margin-right: 8px;
    }

    &__divider {
        height: 1px;
        width: 100%;
        background-color: #eaedf4;//eaedf4
    }

    &__graph-container {
        margin: 8px 8px 0px 8px;
    }
}