<!--The content below is only a placeholder and can be replaced.-->
<div id="chart" style="text-align:center">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [title]="chartOptions.title"
    [plotOptions]="chartOptions.plotOptions"
    [dataLabels]="chartOptions.dataLabels"
    [tooltip]="chartOptions.tooltip"
    [states]="chartOptions.states"
    [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke"
    [grid]="chartOptions.grid"
  ></apx-chart>
</div>
